
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faq-05-Tcd {
  padding: 10.2rem 31.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #f8f9fa;
  box-sizing: border-box;
  align-items: center;
  display: flex;

  .frequently-asked-questions-NzV {
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 0.3rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3330000242;
    color: #333333;
    font-family: Raleway, 'Source Sans Pro';
    white-space: nowrap;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-UGq {
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 4rem 0.1rem;
    font-size: 1.6rem;
    color: #636d79;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
  }
  .question-MrR {
    box-sizing: border-box;
    padding: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #feffff;
    flex-shrink: 0;
    margin-bottom: 0.8rem;

    .what-services-does-tanahair-offer-JWm {
      color: #333333;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 42.5rem 0.2rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.375;
    }
    .navigation--cnM {
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }
  }
  .question-LTT {
    padding: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #feffff;
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    box-sizing: border-box;

    .why-should-i-choose-a-design-studio-like-tanahair-over-full-service-agency-HNh {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.375;
      color: #333333;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 11.6rem 0.2rem 0rem;
    }
    .navigation--ABb {
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }
  }
  .question-u9B {
    align-items: center;
    background-color: #feffff;
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    padding: 4rem;
    width: 100%;
    display: flex;

    .how-does-tanahair-create-website-content-without-knowing-our-business-plan-FD3 {
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.2rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.375;
      color: #333333;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
    }
    .navigation--LkH {
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
    }
  }
  .question-UrV {
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    padding: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #feffff;

    .what-will-be-delivered-and-when-pfT {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.375;
      color: #333333;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 42.2rem 0.2rem 0rem;
    }
    .navigation--9Bw {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .question-HJ9 {
    align-items: center;
    background-color: #feffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem;
    width: 100%;
    display: flex;

    .what-often-will-results-be-reported-dso {
      line-height: 1.375;
      color: #333333;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 42.3rem 0.2rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
    .navigation--x9P {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
