
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.2rem;
}.mecassist-homepage-CQ1 {
  height: 88.1rem;
  width: 100%;

  .group-1000005941-8Hf {
    position: relative;
    width: 100%;
    height: 100%;

    .mecassist-homepage-gKB {
      position: absolute;
      left: 0;
      overflow: hidden;
      display: flex;
      box-sizing: border-box;
      padding-top: 3rem;
      width: 143.2rem;
      height: 88.1rem;
      background-color: #ffffff;
      top: 0;
      align-items: center;
      flex-direction: column;

      .header-mrR {
        margin: 0rem 7.9rem 1.6rem 13.5rem;
        width: calc(100% - 21.4rem);
        height: 3.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-556-gTb {
          margin: 0.7rem 14.8rem 0.6rem 0rem;
          height: calc(100% - 1.3rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .mecassist-c6M {
            flex-shrink: 0;
            line-height: 1;
            color: #000000;
            white-space: nowrap;
            letter-spacing: 0.072rem;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 17.7rem;
            font-size: 2.4rem;
            font-weight: 700;
          }
          .frame-554-Jzm {
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .header-UPT {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .home-2vm {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
              .underline-Zvh {
                opacity: 0.5;
                width: 4.8rem;
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-suld-6fj {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 3.4rem;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .community-Sjb {
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3.3rem;
              }
              .header-ZpD {
                margin-right: 4.8rem;
                height: 2.4rem;
                text-align: center;
                line-height: 1.5;
                white-space: nowrap;
                cursor: pointer;
                font-size: 1.6rem;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                width: 4.8rem;
                color: #000000;
                font-weight: 400;
                display: flex;
                flex-shrink: 0;
              }
              .header-f6Z {
                height: 2.4rem;
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 400;
                color: #000000;
                width: 6.1rem;
                cursor: pointer;
                line-height: 1.5;
                flex-shrink: 0;
                text-align: center;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .frame-552-MVB {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .search-component-set-iad {
            box-sizing: border-box;
            padding: 0.7rem 1.2rem 0.7rem 2rem;
            width: 24.3rem;
            height: 100%;
            background-color: #f5f5f5;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-right: 2.4rem;

            .frame-550-zo3 {
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding: 0.3rem 0.4rem 0.3rem 0rem;
              width: 100%;
              height: 100%;

              .what-are-you-looking-for-JHw {
                margin-right: 3.8rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .component-2-Cu7 {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .frame-551-w61 {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            column-gap: 1.6rem;

            .wishlist-fnh {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
            }
            .cart1-with-buy-chw {
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .user-ZNH {
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              border-radius: 4.7rem;
              flex-shrink: 0;
              width: 3.2rem;
            }
          }
        }
      }
      .auto-group-a4u7-gho {
        width: 150.6177rem;
        height: 79.7432rem;
        position: relative;
        flex-shrink: 0;

        .line-3-p3K {
          height: 0.05rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 144rem;
        }
        .group-56-KVs {
          width: 150.6177rem;
          height: 79.7432rem;
          position: absolute;
          left: 0;
          top: 0;

          .mechanic-car-service-automobile-garage-1923030-1-FeR {
            object-fit: cover;
            vertical-align: top;
            width: 143.2rem;
            height: 79.7432rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .auto-group-anq1-m6y {
            width: 59.9753rem;
            height: 7.2rem;
            position: absolute;
            left: 90.6424rem;
            top: 12.0596rem;
          }
          .find-the-best-service-and-parts-for-your-car-5dT {
            height: 23.9rem;
            font-weight: 400;
            line-height: 1.2425;
            font-family: Rowdies, 'Source Sans Pro';
            width: 118.5rem;
            position: absolute;
            left: 9.7rem;
            top: 22.8586rem;
            font-size: 9.6rem;
            color: #ffffff;
          }
        }
      }
      .auto-group-zjav-mFP {
        width: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 427.957rem 0rem 3.2rem 24.8rem;

        .frame-702-tL1 {
          box-sizing: border-box;
          padding-right: 34.4rem;
          height: 16.1rem;
          display: flex;
          column-gap: 9.55rem;
          align-items: center;
          margin-bottom: 6.2rem;
          width: 128.7rem;
          flex-shrink: 0;

          .frame-701-19j {
            width: 24.9rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .services-xKs {
              margin-bottom: 2.4rem;
              width: 8rem;
              height: 8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-695-tjK {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              align-items: center;

              .free-and-fast-delivery-eiV {
                line-height: 1.4;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .free-delivery-for-all-orders-over-140-NuP {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-702-hgm {
            width: 24.7rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .services-SeM {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2.4rem;
              width: 8rem;
              height: 8rem;
              position: relative;
              object-fit: contain;
            }
            .frame-696-Brq {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .customer-service-kQ9 {
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.4;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .friendly-24-7-customer-support-szZ {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
            }
          }
          .frame-704-Qjb {
            flex-shrink: 0;
            width: 25.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .services-mKF {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2.4rem;
              width: 8rem;
              height: 8rem;
            }
            .frame-697-ugM {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .money-back-guarantee-5Kw {
                line-height: 1.4;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .we-reurn-money-within-30-days-1UV {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .fill-with-up-arrow-vLZ {
          margin-right: 8.9rem;
          width: 4.6rem;
          height: 4.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .footer-R2R {
        overflow: hidden;
        display: flex;
        box-sizing: border-box;
        padding: 8rem 0rem 2.4rem 0rem;
        width: 144rem;
        position: relative;
        align-items: center;
        flex-direction: column;
        background-color: #000000;
        flex-shrink: 0;

        .frame-743-KtV {
          height: 23.6rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 13.5rem 6rem 13.5rem;
          width: calc(100% - 27rem);

          .frame-717-FXF {
            margin-right: 8.7rem;
            width: 21.7rem;
            flex-shrink: 0;

            .frame-716-bb7 {
              margin-bottom: 1.6rem;
              display: flex;
              flex-direction: column;

              .frame-715-kU1 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 2.4rem;

                .exclusive-625 {
                  color: #f9f9f9;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-weight: 700;
                  line-height: 1;
                  letter-spacing: 0.072rem;
                  white-space: nowrap;
                  margin-bottom: 2.4rem;
                  font-size: 2.4rem;
                }
                .subscribe-oSH {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.4;
                  color: #f9f9f9;
                }
              }
              .get-10-off-your-first-order-Xt5 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #f9f9f9;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .send-mail-rvM {
              box-sizing: border-box;
              padding: 1.2rem 1.7rem 1.2rem 1.6rem;
              width: 100%;
              display: flex;
              align-items: center;
              border: solid 0.15rem #f9f9f9;
              border-radius: 0.4rem;

              .enter-your-email-zWm {
                font-weight: 400;
                line-height: 1.5;
                color: #f9f9f9;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3.4rem;
                font-size: 1.6rem;
              }
              .icon-send-8cy {
                margin-bottom: 0rem;
                width: 2rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-bg7b-ebK {
            width: 38.5rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .frame-713-oj7 {
              width: 34.6rem;
              height: 18rem;
              position: absolute;
              left: 0;
              top: 0;

              .support-A3s {
                white-space: nowrap;
                margin-bottom: 2.4rem;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                color: #f9f9f9;
                font-family: Poppins, 'Source Sans Pro';
              }
              .frame-712-h3o {
                width: 100%;
                display: flex;
                flex-direction: column;

                .bijoy-sarani-dhaka-dh-1515-bangladesh-T2y {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4rem;
                }
                .exclusivegmailcom-Nfj {
                  margin-bottom: 1.6rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-88015-88888-9999-iDo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
            .frame-711-Exq {
              left: 26.2rem;
              top: 0;
              width: 12.3rem;
              height: 23.6rem;
              position: absolute;

              .account-BNH {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 2.4rem;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                color: #f9f9f9;
              }
              .frame-710-XBF {
                width: 100%;
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;

                .my-account-UMP {
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
                .login-register-1s7 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .cart-ZNq {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
                .wishlist-uBo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .shop-3oo {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-ietk-Pcm {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 8.7rem;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .frame-709-wPP {
              margin-right: 8.7rem;
              width: 10.9rem;
              flex-shrink: 0;

              .quick-link-6GH {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 2.4rem;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.4;
                color: #f9f9f9;
              }
              .frame-708-qDs {
                width: 100%;
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;

                .privacy-policy-ax9 {
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
                .terms-of-use-LAd {
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
                .faq-Und {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .contact-DkD {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #f9f9f9;
                }
              }
            }
            .frame-742-xxh {
              width: 19.8rem;
              flex-shrink: 0;

              .frame-721-XW1 {
                margin-bottom: 2.4rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .download-app-VBw {
                  line-height: 1.4;
                  color: #f9f9f9;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 2.4rem;
                  font-size: 2rem;
                  font-weight: 500;
                }
                .frame-720-dZ3 {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .save-3-with-app-new-user-only-CMF {
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #f9f9f9;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .frame-719-X8d {
                    width: 100%;
                    height: 8.4rem;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .qr-code-syB {
                      overflow: hidden;
                      position: relative;
                      background-color: #000000;
                      flex-shrink: 0;
                      margin: 0.2rem 0.8rem 0.2rem 0rem;
                      box-sizing: border-box;
                      padding: 0.2rem;
                      height: calc(100% - 0.4rem);

                      .qrcode-1-QTK {
                        object-fit: cover;
                        vertical-align: top;
                        width: 7.6rem;
                        height: 7.6rem;
                      }
                    }
                    .frame-718-8u7 {
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;
                      width: 11rem;
                      height: 100%;
                      align-items: center;

                      .googleplay-ttH {
                        background-color: #030406;
                        flex-shrink: 0;
                        margin-bottom: 0.4rem;
                        width: 100%;
                        height: 4rem;
                        position: relative;
                        overflow: hidden;

                        .png-transparent-google-play-store-logo-google-play-app-store-android-wallets-text-label-logo-qHj {
                          width: 10.4rem;
                          position: relative;
                          left: 0.3rem;
                          top: 0.5rem;
                          background-size: 113.385% 402.186%;
                          background-position: -0.7024rem -4.5328rem;
                          height: 3rem;
                          background-image: url('REPLACE_IMAGE:a61d4c7110b18ab55a1e1a07ebf54a46ebb07284');
                          border-radius: 0.4rem;
                        }
                        .vector-1-fnZ {
                          top: 2.2245rem;
                          object-fit: contain;
                          vertical-align: top;
                          width: 0.056rem;
                          height: 0.0952rem;
                          position: absolute;
                          left: 9.9395rem;
                        }
                        .vector-2-zZw {
                          width: 0.1262rem;
                          height: 0.3922rem;
                          position: absolute;
                          left: 9.8188rem;
                          top: 2.1964rem;
                          object-fit: contain;
                          vertical-align: top;
                        }
                        .vector-3-8AM {
                          height: 0.0064rem;
                          position: absolute;
                          left: 9.4913rem;
                          top: 2.2236rem;
                          object-fit: contain;
                          vertical-align: top;
                          width: 0.0308rem;
                        }
                        .vector-4-4ph {
                          vertical-align: top;
                          width: 0.1165rem;
                          height: 0.2205rem;
                          position: absolute;
                          left: 9.8391rem;
                          top: 2.2708rem;
                          object-fit: contain;
                        }
                      }
                      .appstore-oGV {
                        position: relative;
                        background-color: #000000;
                        flex-shrink: 0;
                        box-sizing: border-box;
                        padding: 0.3rem;
                        width: 100%;
                        overflow: hidden;

                        .download-appstore-ZFf {
                          border-radius: 0.4rem;
                          width: 10.4rem;
                          height: 3.4rem;
                          position: relative;
                          background-size: 101.923% 311.419%;
                          background-position: -0.1rem -3.5941rem;
                          background-image: url('REPLACE_IMAGE:38932d5accb54c528f9bcf326ca48ea29bd6d890');
                        }
                      }
                    }
                  }
                }
              }
              .frame-741-Rof {
                box-sizing: border-box;
                padding: 0rem 0.35rem 0rem 0.7rem;
                display: flex;
                align-items: center;

                .icon-facebook-xHo {
                  width: 1.05rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 3.05rem;
                }
                .icon-twitter-Hay {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.7rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                }
                .icon-instagram-2YZ {
                  margin-right: 3rem;
                  width: 1.8rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .icon-linkedin-mFF {
                  margin-bottom: 0.05rem;
                  width: 1.75rem;
                  height: 1.75rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .frame-643-gt1 {
          flex-shrink: 0;
          opacity: 0.4;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .underline-1vH {
            height: 0.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            opacity: 0.5;
            width: 144rem;
          }
          .frame-66-kN5 {
            align-items: center;
            flex-shrink: 0;
            margin: 0 55.15rem;
            box-sizing: border-box;
            padding-left: 0.1667rem;
            width: calc(100% - 110.3rem);
            display: flex;

            .icon-copyright-xU9 {
              margin: 0rem 0.767rem 0rem 0rem;
              width: 1.6667rem;
              height: 1.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .copyright-rimel-2022-all-right-reserved-5Ym {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .frame-AaD {
      display: flex;
      border-radius: 0.4rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 500;
      color: #f9f9f9;
      top: 61.6rem;
      white-space: nowrap;
      align-items: center;
      left: 61.0589rem;
      height: 5.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      background-color: #db4444;
      width: 18.0989rem;
    }
  }
}
