
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.log-in-sZK {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 75.4rem;

  .line-3-D7P {
    width: 144rem;
    height: 0.05rem;
    position: absolute;
    left: 0;
    top: 5.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .frame-767-MDb {
    height: 40.8rem;
    position: absolute;
    left: 12.6rem;
    top: 17.3rem;
    display: flex;
    align-items: center;
    width: 111.2rem;

    .image-69-5QV {
      flex-shrink: 0;
      margin-right: 12.9rem;
      width: 61.2rem;
      height: 40.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .frame-766-p7B {
      margin: 4.1rem 0;
      width: 37.1rem;
      height: calc(100% - 8.2rem);
      flex-shrink: 0;

      .frame-764-xUH {
        margin-bottom: 3.9rem;
        width: 37rem;

        .frame-753-7MB {
          margin-bottom: 4.8rem;
          display: flex;
          flex-direction: column;

          .log-in-to-mecassist-GUy {
            flex-shrink: 0;
            font-size: 3.6rem;
            line-height: 0.8333333333;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            font-weight: 500;
            letter-spacing: 0.144rem;
            color: #000000;
          }
          .enter-your-details-below-AKT {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-757-tmF {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .frame-755-Frh {
            flex-shrink: 0;
            margin-bottom: 3.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .email-or-phone-number-DYd {
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .underline-kHf {
              opacity: 0.5;
              width: 37rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .frame-756-Ths {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .password-poK {
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .underline-xed {
              width: 37rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              opacity: 0.5;
            }
          }
        }
      }
      .frame-765-gKj {
        width: 100%;
        height: 5.6rem;
        display: flex;
        align-items: center;

        .button-pwj {
          width: 14.3rem;
          height: 100%;
          font-size: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          color: #f9f9f9;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin-right: 8.7rem;
          line-height: 1.5;
          align-items: center;
          cursor: pointer;
          font-weight: 500;
          display: flex;
          justify-content: center;
          background-color: #db4444;
        }
        .forget-password-WJm {
          font-weight: 400;
          line-height: 1.5;
          color: #db4444;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
  }
  .frame-556-q69 {
    width: 67.5rem;
    height: 2.4rem;
    position: absolute;
    left: 9.4rem;
    top: 3.1rem;
    display: flex;
    align-items: center;

    .logo-MaH {
      cursor: pointer;
      line-height: 1;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 100%;
      font-weight: 700;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      margin-right: 17.7rem;
      letter-spacing: 0.072rem;
      display: flex;
      flex-shrink: 0;
      width: 13.1rem;
      font-size: 2.4rem;
    }
    .frame-554-rG9 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 100%;

      .header-CL1 {
        text-align: center;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        height: 100%;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        margin-right: 3.4rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #000000;
        flex-shrink: 0;
        width: 4.8rem;
        cursor: pointer;
      }
      .community-gW5 {
        margin-right: 3.7rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .shop-cPj {
        margin-right: 5.1rem;
        text-align: center;
        font-size: 1.6rem;
        color: #000000;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .header-9Pf {
        font-weight: 400;
        color: #000000;
        width: 6.1rem;
        cursor: pointer;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.5;
        white-space: nowrap;
        display: flex;
      }
    }
  }
  .search-component-set-eLR {
    width: 24.3rem;
    height: 3.8rem;
    position: absolute;
    left: 104.1rem;
    background-color: #f5f5f5;
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0.7rem 1.2rem 0.7rem 2rem;
    top: 1.7rem;

    .frame-550-wqK {
      align-items: center;
      box-sizing: border-box;
      padding: 0.3rem 0.4rem 0.3rem 0rem;
      width: 100%;
      height: 100%;
      display: flex;

      .what-are-you-looking-for-5wX {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.8rem;
      }
      .component-2-REh {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
