
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-uYm {
  width: 100%;
  height: 75.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .line-3-1rh {
    left: 0;
    top: 5.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 144rem;
    height: 0.05rem;
    position: absolute;
  }
  .frame-760-8gR {
    top: 15.6rem;
    display: flex;
    align-items: center;
    width: 111.2rem;
    height: 44.3rem;
    position: absolute;
    left: 9.1rem;

    .image-68-rcR {
      flex-shrink: 0;
      margin: 0rem 12.9rem 0.1rem 0rem;
      width: 61.2rem;
      height: 37.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .frame-759-A7K {
      flex-shrink: 0;
      width: 37.1rem;
      height: 100%;

      .frame-753-7YM {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.8rem;

        .create-an-account-fZs {
          line-height: 0.8333333333;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 3.6rem;
          font-weight: 500;
          letter-spacing: 0.144rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .enter-your-details-below-y4m {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .frame-758-V37 {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-757-FHB {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.05rem 3.9rem 0.05rem;
          width: calc(100% - 0.1rem);
          row-gap: 3.9rem;
          align-items: center;

          .frame-754-Zof {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .name-3Tw {
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .underline-meq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              opacity: 0.5;
              width: 37rem;
              height: 0.1rem;
            }
          }
          .frame-755-tzM {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .email-Fa1 {
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .underline-qYD {
              opacity: 0.5;
              width: 37rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .frame-756-aVo {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .password-wr9 {
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
            }
            .underline-gYq {
              opacity: 0.5;
              width: 37rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .frame-752-pf3 {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .button-PTF {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #db4444;
            height: 5.6rem;
            cursor: pointer;
            font-weight: 500;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            line-height: 1.5;
            justify-content: center;
            border-radius: 0.4rem;
          }
          .frame-750-stD {
            height: 2.9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 12.3rem;
            width: calc(100% - 12.3rem);

            .already-have-account-1zR {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.1rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .frame-749-wNH {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .log-in-JTj {
                cursor: pointer;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #000000;
              }
              .underline-RYM {
                flex-shrink: 0;
                opacity: 0.5;
                width: 4.7rem;
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
  .header-8Sm {
    width: 132.2rem;
    height: 3.8rem;
    position: absolute;
    left: 9.1rem;
    top: 1.6rem;
    display: flex;
    align-items: center;

    .frame-556-Tjw {
      margin: 0.7rem 21rem 0.6rem 0rem;
      height: calc(100% - 1.3rem);
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .mecassist-zE5 {
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.072rem;
        flex-shrink: 0;
        margin-right: 21.9rem;
        cursor: pointer;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .frame-554-JkZ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;

        .auto-group-dnuf-GhP {
          box-sizing: border-box;
          padding-right: 4.8rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .home-2Am {
            line-height: 1.5;
            color: #000000;
            flex-shrink: 0;
            margin-right: 3.4rem;
            cursor: pointer;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
          }
          .contact-MD3 {
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            color: #000000;
            white-space: nowrap;
            margin-right: 3.3rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .header-HMb {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            justify-content: center;
            width: 4.8rem;
            height: 2.4rem;
            flex-shrink: 0;
            cursor: pointer;
            text-align: center;
            white-space: nowrap;
            display: flex;
            color: #000000;
            align-items: center;
          }
        }
        .header-zWu {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;

          .sign-up-M6Z {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .underline-Hku {
            vertical-align: top;
            flex-shrink: 0;
            opacity: 0.5;
            width: 6.1rem;
            height: 0.1rem;
            object-fit: contain;
          }
        }
      }
    }
    .frame-552-d45 {
      width: 39.5rem;
      height: 100%;
      flex-shrink: 0;

      .search-component-set-nBs {
        width: 24.3rem;
        height: 100%;
        background-color: #f5f5f5;
        border-radius: 0.4rem;
        margin-right: 15.2rem;
        box-sizing: border-box;
        padding: 0.7rem 1.2rem 0.7rem 2rem;

        .frame-550-JR7 {
          box-sizing: border-box;
          padding: 0.3rem 0.4rem 0.3rem 0rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .what-are-you-looking-for-dyB {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.8rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .component-2-NQy {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
