
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faq-05-Tcd {
  box-sizing: border-box;
  padding: 10.2rem 31.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
.faq-05-Tcd .frequently-asked-questions-NzV {
  margin: 0rem 0rem 1.6rem 0.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.3330000242;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-UGq {
  margin: 0rem 0rem 4rem 0.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #636d79;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-MrR {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #feffff;
  flex-shrink: 0;
}
.faq-05-Tcd .question-MrR .what-services-does-tanahair-offer-JWm {
  margin: 0rem 42.5rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-MrR .navigation--cnM {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-05-Tcd .question-LTT {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #feffff;
  flex-shrink: 0;
}
.faq-05-Tcd .question-LTT .why-should-i-choose-a-design-studio-like-tanahair-over-full-service-agency-HNh {
  margin: 0rem 11.6rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-LTT .navigation--ABb {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-05-Tcd .question-u9B {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #feffff;
  flex-shrink: 0;
}
.faq-05-Tcd .question-u9B .how-does-tanahair-create-website-content-without-knowing-our-business-plan-FD3 {
  margin: 0rem 8.8rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-u9B .navigation--LkH {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-05-Tcd .question-UrV {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #feffff;
  flex-shrink: 0;
}
.faq-05-Tcd .question-UrV .what-will-be-delivered-and-when-pfT {
  margin: 0rem 42.2rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-UrV .navigation--9Bw {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faq-05-Tcd .question-HJ9 {
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #feffff;
  flex-shrink: 0;
}
.faq-05-Tcd .question-HJ9 .what-often-will-results-be-reported-dso {
  margin: 0rem 42.3rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faq-05-Tcd .question-HJ9 .navigation--x9P {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
